html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  float: left;
  width: 40px;
  height: 40px;
  margin: 16px 24px 16px 0;
  background: #064595;
  
}
.site-layout 
.site-layout-background {
  background: #fff;
  color: #fff;
}

.logomoi{
  height: 50px;
  width: 50px;
}

.fontcolor {
  color: #fff;
}

.fhd{
  height: 1080px;
  width: 1920px;
}



.cradlogin {
  top: 89px;
  left: 1048px;
  width: 716px;
  height: 1026px;
}

